<a href="https://colab.research.google.com/github/basangoudapatil/Task-8/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv('/content/Data.csv')
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [ ]:
df = df.fillna(df.median())
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

**Step 5: Creating a dummy variable**

In [ ]:
df['Country'].value_counts()

France     4
Spain      3
Germany    3
Name: Country, dtype: int64

In [ ]:
#For the given data, Country column has 3 different variables
#Label encoding does not apply here, as it is binary, 
#Therefore consider One-Hot_encoding.

X = df.drop('Purchased', axis=1) #all the rows of feature variables
y = df['Purchased'].values #traget variable

In [ ]:
X = pd.get_dummies(X)
X

    Age   Salary  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0               1                0              0
1  27.0  48000.0               0                0              1
2  30.0  54000.0               0                1              0
3  38.0  61000.0               0                0              1
4  40.0  61000.0               0                1              0
5  35.0  58000.0               1                0              0
6  38.0  52000.0               0                0              1
7  48.0  79000.0               1                0              0
8  50.0  83000.0               0                1              0
9  37.0  67000.0               1                0              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.shape, y_train.shape

((8, 5), (8,))

**Step 7: Feature Scaling**

In [ ]:
#Age and Salary are highly scattered, so scaling is the best way to deal with this
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train[['Age','Salary']] = scaler.fit_transform(X_train[['Age','Salary']])
X_test[['Age','Salary']] = scaler.transform(X_test[['Age','Salary']])

In [ ]:
X_train

        Age    Salary  Country_France  Country_Germany  Country_Spain
1 -1.958462 -1.494319               0                0              1
6 -0.064565 -1.074861               0                0              1
0  0.968470  1.022429               1                0              0
5 -0.581082 -0.445674               1                0              0
7  1.657160  1.756480               1                0              0
9 -0.236737  0.498106               1                0              0
3 -0.064565 -0.131081               0                0              1
4  0.279780 -0.131081               0                1              0