<a href="https://colab.research.google.com/github/basangoudapatil/Task-8/blob/main/Random_Forest_Assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Network_Ads.csv

**Importing the libraries**

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Importing the dataset**

In [3]:
df = pd.read_csv('/content/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [5]:
df = df.drop_duplicates()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 18.8+ KB

In [7]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

**Splitting the dataset into the Training set and Test set**

In [9]:
X = df.drop(['User ID','Gender'], axis=1)
y = df['Purchased']

from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

In [12]:
X_train.shape, y_train.shape

((280, 3), (280,))

In [13]:
X_test.shape, y_test.shape

((120, 3), (120,))

**Feature Scaling**

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

**Fitting Random Forest to the Training set**

In [16]:
from sklearn.ensemble import RandomForestClassifier
#by default the model takes 10 estimators
rfc = RandomForestClassifier(random_state=0)

rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [20]:
#The same model with 100 n-estimators
rfc_100 = RandomForestClassifier(n_estimators=100, random_state=0)

rfc_100.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

**Predicting the Test set results**

In [19]:
y_pred = rfc.predict(X_test)

from sklearn.metrics import accuracy_score, roc_auc_score
print('The accuracy of the model=', accuracy_score(y_pred, y_test))
print('The AUROC score of the Model=', roc_auc_score(y_pred, y_test))

The accuracy of the model= 1.0
The AUROC score of the Model= 1.0

In [22]:
#Random Forest with 100 estimators
y_pred = rfc_100.predict(X_test)

from sklearn.metrics import accuracy_score, roc_auc_score
print('The accuracy of the model=', accuracy_score(y_pred, y_test))
print('The AUROC score of the Model=', roc_auc_score(y_pred, y_test))

The accuracy of the model= 1.0
The AUROC score of the Model= 1.0

**Making the Confusion Matrix**

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred, y_test)

array([[81,  0],
       [ 0, 39]])

**Visualising the Training set results**

**Visualising the Test set results**